.card {
  width: 240px;
  height: 255px;
  border: 1px solid #c9c9c97d;
  padding: 10px;
  margin: 10px;
  font-size: 0.75rem;
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}
.card:hover {
  border-color: rgb(232, 232, 232);
  box-shadow: rgba(28, 28, 28, 0.12) 0px 0.4rem 1.8rem;

  transition: all 0.3s ease-in;
}

.card > img {
  width: 100%;
}

.resName {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(44, 44, 44);
  margin-bottom: 6px;
}

.res-name p {
  color: #868383;
  height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.resInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ratings {
  color: white;
  padding: 3px 5px;
  font-size: 0.7rem;
}
.green {
  background-color: green;
}
.yellow {
  background-color: #e68c47;
}
.red {
  background-color: red;
}
